*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fdb750;
}

a{
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar{
    height: 6vh;
    background-color: #010100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #fc2e20 4px solid;
}

.logo{
    margin-left: 20px;
}

.nav-info{
    width: 30%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.home{
    height: 85vh;
    background-color: #010100;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home-text{
    color: #fd7f20;
    font-size: 5rem;
}

.contents{
    width: 80%;
    height: 75%;
    display: flex;
}

#intro-text{
    color: white;
    width: 50%;
    text-wrap: wrap;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 8rem 2rem 2rem 2rem;
    font-size: 1.5rem;
}

p{
    padding: 1rem;
}

#gallery{
    width: 40%;
    height: 60%;
    margin: 10rem 2rem 2rem 2rem;
    background-image: url("img.jpeg");
    background-size: cover;
}